* {
    padding: 5px;
}

.pageContainer {
    margin: 20px 10px 30px 20px;
}

.appHeader {
    margin: 20px 10px 30px 20px;
}

.searchfield {
    /* margin-left: 200px; */
    /* margin-right: 200px; */
}

.mycontainerstyle {
    /* margin-left: 200px;
    margin-right: 200px; */
}